.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}
.btn {
  display: none;
}

@media (max-width: 600px) {
  .desktop {
    display: none;
  }
  .btn {
    display: block;
    border: 0px solid black;
    background-color: transparent;
  }
  .btnimg {
    width: 30px;
  }
  .closebtn {
    display: block;
    color: tomato;
  }
}
.mobile {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  height: 100vh;
  columns: #000000;
}

.navlist {
  display: inline;
  padding-right: 10px;
}

.navul {
  margin: 0px;
}
